body{
    margin:0;
    min-height:100vh;
    background: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("./images/feedback.jpg") center center / cover no-repeat fixed;

    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}
#main{
    max-width:650px;
    margin:120px auto 40px;
    padding:30px;

    background:rgba(0,0,0,.45);
    backdrop-filter:blur(8px);

    border-radius:12px;

    color:white;
}
